body{
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-moderno{
    padding: 10px 30px;
    margin: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color:rgb(250, 250, 139);
    color: rgb(69, 68, 68);
    border-bottom: 2px solid rgb(254, 254, 109);
   
}

@keyframes traslacion {
    100%{
    transform: translateX(0) translateY(-5px);
    background-color: rgb(10, 10, 10) ;
    color: rgb(255, 254, 254); ;
    box-shadow: 4px 3px rgb(255, 138, 79);
    }
}

.btn-moderno:hover{
    animation: traslacion 4ms ease-in-out infinite forwards alternate;
    
    
}